<main class="content__main">
  <div class="content__container">

    {{#each articles}}

    <article class="result__item">
      <header class="result__header">
        <img class="result__avatar" src="{{avatar}}" alt="author avatar" />
        <div class="result__author">{{name}}</div>
        <div class="result__date">{{date}}</div>
      </header>
      <img class="result__image" src="{{image}}" alt=""/>
      <h3 class="result__title">{{title}}</h3>
      <p class="result__summary">{{shortenBody body}}</p>
    </article>

    {{/each}}

  </div>
</main>
